<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Transport Mail System</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <style>
            .navbar{
            margin-left:5px;
            width:100%;
                }
            #loader{
                display: none;
                margin-top: 20%;
            }
            #text{
                margin-top: 3%;
            }   
        </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/profile">HPCL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/previous">Previous Uploads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/updatecontact">Update Contact Details</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/logout" class="btn btn-danger btn-sm pull-right" >Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="loader" class=" text-center">
        <div class="spinner-grow " style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        <h1 id="text">Please wait, sending mails...</h1>
    </div>
    <div class="container" id="pre">
        <div class="alert alert-success mt-2" role="alert">
            <%= status.msg %>
          </div>
          <div class="alert alert-primary" role="alert">
            Total Rows imported : <%= status.TotalRows %>
          </div>
        <div class="jumbotron">
            
        <form action="../totalviolations" method="POST">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="otheremails" placeholder="Seperate your emails with commas(,)" />
                <!-- <small id="emailHelp" class="form-text text-muted">Please enter multiple extra emails seperated by comma (,)</small> -->
              </div>
            <input type="submit" class="btn btn-primary" onclick=hideData() value="Send"></input>
          </form>
          </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script>
        function hideData(){
          const predata =  document.getElementById('pre');
          const postdata = document.getElementById('loader')
          predata.style.display = "none";  
          postdata.style.display = "block";
        }
    </script>
</body>

</html>